$blanco: #fafafa;
$titulos: #4f4e5e;
$rojo: #eb5455;
$naranja: #fcae4b;
$verde: #43d3d2;
$celeste: #529ef1;
$parrafos: #c0bfc2;

$fuentePrincipal: "Poppins", sans-serif;

$telefono: 370px;
$escritorio: 768px;
